@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;800&display=swap');

/**
 * Colors
 * -------------------------------------------------------------------------- */

 :root {

  --vp-c-blue: #316f98;
  --vp-c-blue-light: #457da2;
  --vp-c-blue-lighter: #6e9ab6;
  --vp-c-blue-dark: #2c6388;
  --vp-c-blue-darker: #224d6a;
  --vp-c-blue-dimm-1: rgba(49, 111	, 152, 0.05);
  --vp-c-blue-dimm-2: rgba(49, 111	, 152, 0.2);
  --vp-c-blue-dimm-3: rgba(49, 111	, 152, 0.5);

  --vp-c-green: #20C996;
  --vp-c-green-light: #36cea0;
  --vp-c-green-lighter: #62d9b5;
  --vp-c-green-dark: #1cb487;
  --vp-c-green-darker: #168c69;
  --vp-c-green-dimm-1: rgba(32, 201, 150, 0.05);
  --vp-c-green-dimm-2: rgba(32, 201, 150, 0.2);
  --vp-c-green-dimm-3: rgba(32, 201, 150, 0.5);

  --vp-c-yellow: #ffc107;
  --vp-c-yellow-light: #ffc71f;
  --vp-c-yellow-lighter: #ffd351;
  --vp-c-yellow-dark: #e5ad06;
  --vp-c-yellow-darker: #b28704;
  --vp-c-yellow-dimm-1: rgba(255, 193, 7, 0.05);
  --vp-c-yellow-dimm-2: rgba(255, 193, 7, 0.2);
  --vp-c-yellow-dimm-3: rgba(255, 193, 7, 0.5);


  --vp-c-red: #dc3545;
  --vp-c-red-light: #df4957;
  --vp-c-red-lighter: #e6717c;
  --vp-c-red-dark: #c62f3e;
  --vp-c-red-darker: #9a2530;
  --vp-c-red-dimm-1: rgba(220, 53, 69, 0.05);
  --vp-c-red-dimm-2: rgba(220, 53, 69, 0.2);
  --vp-c-red-dimm-3: rgba(220, 53, 69, 0.5);
 }

 :root {
    --vp-c-brand: #316f98;
    --vp-c-brand-light: #457da2;
    --vp-c-brand-lighter: #6e9ab6;
    --vp-c-brand-lightest: #acc5d5;
    --vp-c-brand-dark: #2c6388    ;
    --vp-c-brand-darker: #224d6a;
    --vp-c-brand-dimm: rgba(100, 108, 255, 0.08);
    --vp-c-light-gray: #515c67;
  }

  :root {
    --vp-c-brand-1: var(--vp-c-blue);
    --vp-c-brand-2: var(--vp-c-blue-light);
    --vp-c-brand-3: var(--vp-c-blue-lighter);
  }
  
  /*Snapcraft*/
  :root {
    --vp-c-orange-dimm-1: rgba(255, 102, 0, 0.05);
    --vp-c-orange-darker: #cc5200;
    --vp-c-orange-dark: #e65c00;
  }

  /*Sponsors btn*/
  :root {
    --vp-c-light-gray: #4a545e;
  }
  
  :root {
    /* Typography */
    --vp-font-family-base: 'Manrope', sans-serif;
  }
  
  /**
 * Component: Home
 * -------------------------------------------------------------------------- */

 :root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(
      120deg,
      #20C996 30%,
      #1d99f3
    );
  
    --vp-home-hero-image-background-image: linear-gradient(
      -45deg,
      #20C996 50%,
      #1d99f3 50%
    );
    --vp-home-hero-image-filter: blur(40px);
  }  
 
 @media (min-width: 960px) {
    
    :root {
      --vp-home-hero-image-filter: blur(72px);
      --vp-nav-logo-height: 36px;
    }
  }

/**
 * Custom block
 * -------------------------------------------------------------------------- */

  .custom-block {
    border: 4px solid transparent;
  }
  
  :root {
  --vp-custom-block-info-border: var(--vp-c-blue-dimm-2);
  --vp-custom-block-info-bg: var(--vp-c-blue-dimm-1);
  --vp-custom-block-info-text: var(--vp-c-neutral);

  --vp-custom-block-tip-border: var(--vp-c-green-dimm-2);
  --vp-custom-block-tip-bg: var(--vp-c-green-dimm-1);
  --vp-custom-block-tip-text: var(--vp-c-neutral);

  --vp-custom-block-warning-border: var(--vp-c-yellow-dimm-2);
  --vp-custom-block-warning-bg: var(--vp-c-yellow-dimm-1);
  --vp-custom-block-warning-text: var(--vp-c-neutral);

  --vp-custom-block-danger-border: var(--vp-c-red-dimm-2);
  --vp-custom-block-danger-bg: var(--vp-c-red-dimm-1);
  --vp-custom-block-danger-text: var(--vp-c-neutral);

  --vp-custom-block-details-border: var(--vp-c-divider);
  --vp-custom-block-details-bg: var(--vp-c-bg-soft-up);
  }

  kbd {
  border: 1px solid var(--vp-c-border);
  box-shadow: var(--vp-c-gray-soft) 0px 1px 1px 0px, var(--vp-c-neutral-inverse) 0px 1px 0px 0px inset;
  background-color: var(--vp-c-gray-soft);
  border-radius: 3px;
  display: inline-block;
  margin: 0 .2em;
  overflow-wrap: break-word;
  padding: .1em .6em;
  text-shadow: 0 1px 0 var(--vp-c-white);
  }

  :root {
    --vp-nav-logo-height: 36px
  }

  /**
 * VPHomeSponsors
 * -------------------------------------------------------------------------- */

.vp-sponsor-grid.big .vp-sponsor-grid-image {
    max-width: 170px;
    max-height: 120px;
  }
  
  .VPHomeSponsors .message {
    max-width: 800px;
  }
  
  .VPHome .VPHomeSponsors {
    margin-top: 0 !important;
  }

  /*Dark theme btn Sponsors*/
  .dark .vp-sponsor-grid-item:hover {
    background: var(--vp-c-light-gray);
  }
  /**
  *
   * -------------------------------------------------------------------------- */

   .vp-doc kbd {
    font-size: 0.8rem;
    line-height: 14px;
    border-radius: 4px;
    padding: 3px 6px;
    min-width: 24px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid rgba(128, 128, 128, 0.15);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
   }